<style>

body{
  height:100%;
}

.left{
  height : 100%;
  color : #FFF;
}
.right{
  background-color:#FFF;
  height : 100%;
  color : #3d231b;
}
@media (max-width: 1200px) {
  .left{
    height:50%
  }
  .right{
    height:50%
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
</style>

<!-- Vertical Split-->

    <div class="row bg-light">
      <div class="col-md-4 col-sm-12 mx-5 my-5 left">
        <h2 class="text-xl-left font-weight-bold text-dark">Quiz</h2>


        <hr style="color:solid gray"/>

        <h5 class="text-xl-left font-weight-bold text-dark">Dashboard</h5>

        <div class = "container">
          <div class = "row px-5 mx-4 my-3">
            <button type="button" class="btn btn-secondary mx-2 my-2 px-3">01</button>
            <button type="button" class="btn btn-secondary mx-2 my-2 px-3">02</button>
            <button type="button" class="btn btn-secondary mx-2 my-2 px-3">03</button>
            <button type="button" class="btn btn-secondary mx-2 my-2 px-3">04</button>
            <button type="button" class="btn btn-secondary mx-2 my-2 px-3">05</button>

            <button type="button" class="btn btn-secondary mx-2 my-2 px-3">06</button>
            <button type="button" class="btn btn-secondary mx-2 my-2 px-3">07</button>
            <button type="button" class="btn btn-secondary mx-2 my-2 px-3">08</button>
            <button type="button" class="btn btn-secondary mx-2 my-2 px-3">09</button>
            <button type="button" class="btn btn-secondary mx-2 my-2 px-3">10</button>

            <button type="button" class="btn btn-secondary mx-2 my-2 px-3">11</button>
            <button type="button" class="btn btn-secondary mx-2 my-2 px-3">12</button>
            <button type="button" class="btn btn-secondary mx-2 my-2 px-3">13</button>
            <button type="button" class="btn btn-secondary mx-2 my-2 px-3">14</button>
            <button type="button" class="btn btn-secondary mx-2 my-2 px-3">15</button>
          </div>

          <div class="container ">
            <div class = "row px-5 mx-4 my-3">
              <a href = "#">
                <button type="button" class="row btn btn-success mx-2 my-2 px-5 ">Submit</button>
              </a>
            </div>
          </div>
      </div>


        <hr style="color:solid gray"/>

      </div>


      <div class="col-xl-6 col-sm-12 mx-5 my-5 right">

          <div class="row h-100 py-2 mx-6 align-items-center justify-content-center bg-light">
            <div class="card shadow p-3 mb-5 bg-white rounded">
              <div class="card-body ">
                <blockquote class="blockquote mb-0">
                  <p>Which of the following form the basis for frequency interpretation of probabilities?</p>
                </blockquote>
              </div>

            <div class="container">
              <div class="row">
                <div class="col px-2 py-2 mx-2 my-2 shadow sm-3 mb-5 bg-white rounded">A) <b>Asymptotics</b></div>
                <div class="col px-2 py-2 mx-2 my-2 shadow sm-3 mb-5 bg-white rounded">B) <b>Symptotics</b></div>
                <div class="w-100"></div>
                <div class="col px-2 py-2 mx-2 my-2 shadow sm-3 mb-5 bg-white rounded">C) <b>Asymmetry</b></div>
                <div class="col px-2 py-2 mx-2 my-2 shadow sm-3 mb-5 bg-white rounded">D) <b>All of the mentioned</b></div>
              </div>
            </div>

            <div class="form-check">
              <div class="container">
                <div class="row x-2 py-2 mx-2 my-2 w-100">
                  <input type="radio" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">A</label>
                </div>
                <div class="row x-2 py-2 mx-2 my-2 w-100">
                  <input type="radio" class="form-check-input" id="exampleCheck2">
                  <label class="form-check-label" for="exampleCheck1">Both A and B</label>
                </div>
                <div class="row x-2 py-2 mx-2 my-2 w-100">
                  <input type="radio" class="form-check-input" id="exampleCheck3">
                  <label class="form-check-label" for="exampleCheck1">D</label>
                </div>
              </div>
            </div>

            <div class = container>
              <div class = row>
                <button type="button" class="btn btn-info px-5 mx-4 my-4 mr-3">Previous</button>
                <button type="button" class="btn btn-info px-5 mx-4 my-4 ml-6 float-right ">Next</button>
              </div>
            </div>

          </div>
      </div>

    </div>





