<style>

body{
  height:100%;
}

.left{
  height : 100%;
  color : #FFF;
}
.right{
  background-color:#FFF;
  height : 100%;
  color : #3d231b;
}
@media (max-width: 1200px) {
  .left{
    height:50%
  }
  .right{
    height:50%
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
</style>

<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ART OF DATA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">NOTEBOOKS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">COURSES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Vertical Split-->

    <div class="row bg-light">

      <div class="col-xl-6 col-sm-12 mx-5 my-5 left">
        <h2 class="text-xl-left font-weight-bold text-dark">Velkumaran A P</h2>
        <div class="text-muted pb-3">@vels10</div>

        <hr style="color:solid gray"/>

        <h5 class="text-xl-left font-weight-bold text-dark">
          About
          <p class="text-right fa fa-pencil"></p>
        </h5>

        <div class="text-muted py-3">Current</div>
        <h6 class="text-xl-left font-weight-bold text-dark">Intern</h6>
        <div class="text-muted py-3">Education</div>
        <h6 class="text-xl-left font-weight-bold text-dark pb-3">PSG College Of Technology</h6>

        <hr style="color:solid gray"/>

        <h5 class="text-xl-left font-weight-bold text-dark">Achivements</h5>
        <div class="text-muted py-3">Problems Solved</div>
        <h6 class="text-xl-left font-weight-bold text-dark">32</h6>
        <div class="text-muted py-3">Global Rank</div>
        <h6 class="text-xl-left font-weight-bold text-dark">1</h6>

      </div>


      <div class="col-sm-4 my-5 right bg-light float-right">
          <div class="row h-100 ">
            <div class="d-flex align-items-center border">
              <img class="img-fluid  " src="https://avatars2.githubusercontent.com/u/5777995?s=400&u=0840cd1e05b1d262b98e56c01755b61bc1bbc7ee&v=4" alt="View" width="304" height="236" >
            </div>
          </div>

      </div>

    </div>




