<style type="text/css">
    .card {
        overflow: hidden;
        box-shadow: 5px 10px 18px #888888;
    }
    
    .card-block .rotate {
        z-index: 8;
        height: 100%;
    }
    
    .card-signin .card-body {
        padding: 2rem;
    }
    
    .card:hover {
        transform: scale(1.05);
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    }
    
    .alignment-card {
        padding-top: 45px;
        padding-bottom: 50px;
        color: white;
    }
</style>

<!-- Compete By Role-->
<div class="bg-light py-5 px-5">
    <h3 class="card-title my-5"><b>Compete By Role</b></h3>
    <div class="text-muted">Choose Your Profession</div>
</div>

<div class="row mb-3">
    <div class="col-xl-3 col-lg-6 mx-5 mb-2 mt-5">
        <div class="card card-inverse card-success">
            <a href="http://localhost:4200/role/data-analyst" class="btn btn-success">
                <div class="card-block pr-5">
                    <div class="text-uppercase mt-3 ">
                        <h5 class="alignment-card">Data Analyst</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 mx-5 mb-2 mt-5 ">
        <div class="card card-inverse card-success ">
            <a href="http://localhost:4200/role/data-engineer" class="btn btn-success">
                <div class="card-block pr-5 ">
                    <div class="text-uppercase ml-2 mt-3 ">
                        <h5 class="alignment-card ">Data Engineer</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 mx-5 mb-2 mt-5 ">
        <div class="card card-inverse card-success ">
            <a href="http://localhost:4200/role/data-scientist" class="btn btn-success">
                <div class="card-block ">
                    <div class="text-uppercase ml-2 mt-3">
                        <h5 class="alignment-card ">Data Scientist</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- Second row-->

<div class="row mb-3 ">
    <div class="col-xl-3 col-lg-4 mx-5 my-2 ">
        <div class="card card-inverse card-success ">
            <a href="http://localhost:4200/role/ml-engineer" class="btn btn-success">
                <div class="card-block pr-5">
                    <div class="text-uppercase ml-2 mt-3 ">
                        <h5 class="alignment-card ">ML Engineer</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 mx-5 my-2 ">
        <div class="card card-inverse card-danger ">
            <a href="http://localhost:4200/role/data-architect" class="btn btn-success">
                <div class="card-block pr-5">
                    <div class="text-uppercase ml-2 mt-3 ">
                        <h5 class="alignment-card ">Data Architect</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 mx-5 my-2 ">
        <div class="card card-inverse card-warning ">
            <a href="http://localhost:4200/role/statistician" class="btn btn-success">
                <div class="card-block ">
                    <div class="text-uppercase ml-2 mt-3 ">
                        <h5 class="alignment-card ">Statistician</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- Third Column-->
<div class="row mb-3 ">
    <div class="col-xl-3 col-lg-4 mx-5 my-2 ">
        <div class="card card-inverse card-success ">
            <div class="card-block bg-dark ">
                <a href="#" class="btn">
                    <div class="text-uppercase ml-2 mt-3 ">
                        <h3 class="alignment-card ">Roles</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 mx-5 my-2 ">
        <div class="card card-inverse card-danger ">
            <div class="card-block bg-dark ">
                <a href="#" class="btn">
                    <div class="text-uppercase ml-2 mt-3 ">
                        <h3 class="alignment-card ">Roles</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 mx-5 my-2 ">
        <div class="card card-inverse card-warning ">
            <div class="card-block bg-dark ">
                <a href="#" class="btn">
                    <div class="text-uppercase ml-2 mt-3 ">
                        <h3 class="alignment-card ">Roles</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>