<!-- CSS -->
<style type="text/css">

    .card {
      overflow: hidden;
      box-shadow: 5px 10px 18px #888888;
    }

    .card-block .rotate {
      z-index: 8;
      float: right;
      height: 100%;
    }

    .card-block .rotate i {
      color: rgba(20, 20, 20, 0.15);
      position: absolute;
      left: 0;
      left: auto;
      right: 10px;
      top : ;
    }

.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}


</style>

<!-- Header -->
<div class = "bg-light my-5 mx-5">
  <h3 class="card-title my-5"><b>DATA MINING</b></h3>
  <div class="text-muted">Solve the Challenges</div>
</div>
<!--Bootsratp Cards-->
<div class="row mb-3">
          <div class="col-xl-3 col-lg-6 mx-5 my-5 ">
            <div class="card card-inverse card-success">
              <div class="card-block bg-light">
                <div class="rotate">
                  <!--<i class="fa fa-database fa-5x"></i>-->
                </div>
                <h3 class="text-uppercase ml-2 mt-2">Data Cleaning</h3>
                <h1 class="display-1"><a class="btn btn-success ml-2" (click) = "goToPage('data-cleaning/quiz')">Solve Challenge</a></h1>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 mx-5 my-5 ">
            <div class="card card-inverse card-success">
              <div class="card-block bg-light">
                <div class="rotate">
                  <!--<i class="fa fa-database fa-5x"></i>-->
                </div>
                <h3 class="text-uppercase ml-2 mt-2">Mining Patterns</h3>
                <h1 class="display-1"><a href="#" class="btn btn-success ml-2">Solve Challenge</a></h1>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 mx-5 my-5 ">
            <div class="card card-inverse card-success">
              <div class="card-block bg-light">
                <div class="rotate">
                  <!--<i class="fa fa-database fa-5x"></i>-->
                </div>
                <h3 class="text-uppercase ml-2 mt-2">Clustering</h3>
                <h1 class="display-1"><a href="#" class="btn btn-success ml-2">Solve Challenge</a></h1>
              </div>
            </div>
          </div>
        </div>

        <!-- Second row-->

<div class="row mb-3">
          <div class="col-xl-3 col-lg-4 mx-5 my-5">
            <div class="card card-inverse card-success">
              <div class="card-block bg-light">
                <div class="rotate">
                  <!--<i class="fa fa-database fa-5x"></i>-->
                </div>
                <h4 class="text-uppercase ml-2 mt-2">Web Mining</h4>
                <h1 class="display-1"><a href="#" class="btn btn-success ml-2">Solve Challenge</a></h1>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 mx-5 my-5" >
            <div class="card card-inverse card-danger">
              <div class="card-block bg-light">
                <div class="rotate">
                  <!--<i class="fa fa-database fa-4x"></i>-->
                </div>
                <h4 class="text-uppercase ml-2 mt-2">Spartial Learning</h4>
                <h1 class="display-1"><a href="#" class="btn btn-success ml-2">Solve Challenge</a></h1>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 mx-5 my-5">
            <div class="card card-inverse card-warning">
              <div class="card-block bg-light">
                <div class="rotate">
                  <!--<i class="fa fa-database fa-5x"></i>-->
                </div>
                <h4 class="text-uppercase ml-2 mt-2">Temporal Mining</h4>
                <h1 class="display-1"><a href="#" class="btn btn-success ml-2">Solve Challenge</a></h1>
              </div>
            </div>
          </div>
        </div>

