<!-- CSS -->
<style type="text/css">

    .card {
      overflow: hidden;
      box-shadow: 5px 10px 18px #888888;
    }

    .card-block .rotate {
      z-index: 8;
      float: right;
      height: 100%;
    }

    .card-block .rotate i {
      color: rgba(20, 20, 20, 0.15);
      position: absolute;
      left: 0;
      left: auto;
      right: 10px;
      top : ;
    }

.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}


</style>

<!-- Header -->
<div class = "bg-light py-5 px-5">
  <h3 class="card-title my-5"><b>Challenges</b></h3>
  <div class="text-muted">Tutorials and Practice Problems</div>
</div>
<!--Bootsratp Cards-->
<div class="row mb-3">
          <div class="col-xl-3 col-lg-6 mx-5 my-5 ">
            <div class="card card-inverse card-success">
              <div class="card-block bg-light">
                <div class="rotate">
                  <i class="fa fa-database fa-5x mt-5"></i>
                </div>
                <h3 class="text-uppercase ml-4 mt-3">DBMS</h3>
                <h1 class="display-1 ml-4"><a href="#" class="btn btn-success stretched-link">View</a></h1>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 mx-5 my-5 ">
            <div class="card card-inverse card-success">
              <div class="card-block bg-light">
                <div class="rotate">
                  <i class="fas fa-braille fa-5x mt-5"></i>
                </div>
                <h3 class="text-uppercase ml-4 mt-3">Probability</h3>
                <h1 class="display-1 ml-4"><a href="#" class="btn btn-success stretched-link">View</a></h1>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 mx-5 my-5 ">
            <div class="card card-inverse card-success">
              <div class="card-block bg-light">
                <div class="rotate">
                  <i class="fa fa-project-diagram fa-5x mt-5"></i>
                </div>
                <h3 class="text-uppercase ml-4 mt-3">Statistics</h3>
                <h1 class="display-1 ml-4"><a href="#" class="btn btn-success stretched-link">View</a></h1>
              </div>
            </div>
          </div>
        </div>

        <!-- Second row-->

<div class="row mb-3">
          <div class="col-xl-3 col-lg-4 mx-5 my-5">
            <div class="card card-inverse card-success">
              <div class="card-block bg-light">
                <div class="rotate">
                  <i class="fas fa-dna fa-5x mt-5"></i>
                </div>
                <h4 class="text-uppercase ml-4 mt-3">Data Mining</h4>
                <h1 class="display-1 ml-4"><button class="btn btn-success stretched-link" (click) = "goToPage('data-mining/data-mining-chapters')">View</button></h1>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 mx-5 my-5" >
            <div class="card card-inverse card-danger">
              <div class="card-block bg-light">
                <div class="rotate">
                 <i class="fas fa-sitemap fa-5x mt-5"></i>
                </div>
                <h4 class="text-uppercase ml-4 mt-3">Machine Learning</h4>
                <h1 class="display-1 ml-4"><a href="#" class="btn btn-success stretched-link">View</a></h1>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 mx-5 my-5">
            <div class="card card-inverse card-warning">
              <div class="card-block bg-light">
                <div class="rotate">
                  <i class="fas fa-terminal fa-5x mt-5"></i>
                </div>
                <h4 class="text-uppercase ml-4 mt-3">Data Structure</h4>
                <h1 class="display-1 ml-4"><a href="#" class="btn btn-success stretched-link">View</a></h1>
              </div>
            </div>
          </div>
        </div>

<!--Skills-->
<div class = "bg-light">
<br/><br/>
 <h3 class = "card-title my-4 mx-5"><b>Moodle Resource</b></h3>
                      <div class="row py-2">
                        <div class="col-xl-5 col-lg-6 mx-5 my-5">
                            <div class="card h-100">
                                <div class="card-block px-4">
                                    <div class="h4  py-2">Data Cleaning</div>
                                    <div class = "text-muted  py-2"><b>QUIZ </b></div>
                                      <a class="btn btn-success my-3 py-3 stretched-link" href="https://hackdata.moodlecloud.com/mod/quiz/view.php?id=14" role="button">Go To Quiz</a>
                                    </div>

                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6 mx-5 my-5">
                            <div class="card h-100">
                                <div class="card-block px-4">
                                    <div class="h4  py-2">Data Intergration</div>
                                    <div class = "text-muted  py-2"><b>QUIZ </b></div>
                                      <a class="btn btn-success my-3 py-3 stretched-link" href="https://hackdata.moodlecloud.com/mod/quiz/view.php?id=15" role="button">Go To Quiz</a>
                                    </div>
                            </div>
                        </div>
                      </div>

                      <!--Second row-->
                      <!--<div class="row py-2">
                        <div class="col-xl-5 col-lg-6 mx-5 my-5">
                            <div class="card h-100">
                                <div class="card-block px-4">
                                    <div class="h4 py-2">Data Science</div>
                                    <div class = "text-muted  py-2"><b>100%</b>(1/5)</div>
                                    <div class="progress ">
                                        <div role="progressbar" class="progress-bar progress-bar-striped progress-bar-animated w-100"></div>
                                    </div><small class="text-muted ">Contact the administrator for reports.</small></div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6 mx-5 my-5">
                            <div class="card h-100">
                                <div class="card-block px-4">
                                    <div class="h4 py-2">Data Science</div>
                                    <div class = "text-muted py-2"><b>75%</b>(1/5)</div>
                                    <div class="progress ">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated w-75 "></div>
                                    </div><small class="text-muted ">Contact the administrator for reports.</small></div>
                            </div>
                        </div>-->
                      </div>


