<h1>DATA CLEANING</h1>
<div class="quiz-details">
    <div class="description">
        <p><b>Description:<br></b>Data cleansing or data cleaning is the process of detecting and correcting corrupt or inaccurate records from a record set, table, or database and refers to identifying incomplete, incorrect, inaccurate or irrelevant parts
            of the data and then replacing, modifying, or deleting the dirty or coarse data.</p>
    </div>
    <div class="topics">
        <h3>Topics Covered:</h3>
        <div class="topics-list">
            <p><b>1.&nbsp; </b>Missing Values</p>
            <p><b>2.&nbsp; </b>Noisy Data</p>
            <p><b>3.&nbsp;</b>Data cleaning as a process</p>
        </div>
    </div>
    <div class="resources">
        <h3>Resources:</h3>
        <p><b>1.&nbsp;&nbsp;</b><a href="http://myweb.sabanciuniv.edu/rdehkharghani/files/2016/02/The-Morgan-Kaufmann-Series-in-Data-Management-Systems-Jiawei-Han-Micheline-Kamber-Jian-Pei-Data-Mining.-Concepts-and-Techniques-3rd-Edition-Morgan-Kaufmann-2011.pdf">Data Mining Concepts and Techniques by Jiawei Han</a></p><br>
    </div>
    <div class="timings">
        <p><b>Test Duration: </b> 30 Minutes</p>
        <p><b>Number of Questions: </b> 30</p>
        <p><b>Level of Difficulty: </b> Medium</p>
    </div>
    <div class="rules">
        <b><i>Rules:</i></b>
        <p><b>1.&nbsp;</b><i>Users are not allowed to open web browser in another page and look up answers to questions while taking an exam.</i></p>
        <p><b>2.&nbsp;</b><i>Note: No extra time will be provided</i></p>
        <p><b>3.&nbsp;</b><i>Users can flag the questions and answer later within the given duration of time</i></p>
    </div>
    <div class="submit">
        <button class="btn btn-success ml-2" (click)="goToPage('data-cleaning/quiz/start/');">START</button>
    </div>
</div>